*{
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    height: 50px;
    width: auto;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.one {
    display: flex;
    background-color: #1F2937;
    height: 25vh;
    min-height: 300px;
    align-items: center;
    padding: 0 20px;
    gap: 40px;
}

.one-left {
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 5px;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.one-left button {
    background-color: #3882F6;
    padding: 5px 25px;
    width: fit-content;
    border-radius: 8px;
    color: #F9FAF8;
}

.img-1 {
    display: flex;
    height: 200px;
    width: 40vw;
    max-height: auto;
    background-color: #bbb8b8;
    justify-content: center;
    align-items: center;
}

.two {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    padding: 0 20px;
    align-items: center;
    height: 25 vh;
    min-height: 300px;
    justify-content: center;
    gap: 30px;
}

.random {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.two-bottom {
    display: flex;
    gap: 30px;
}

.two-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.blank-img {
    width: 120px;
    height: 120px;
    background-color: #F9FAF8;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.img-caption {
    color: #1F2937;
    font-size: 12px;
    text-align: center;
    width: 120px;
}